<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/fc55212c-9a30-47dc-a7ac-ea18f1a0f75d/resourcegroups/ChallengeAssignment20210811071331ResourceGroup/providers/Microsoft.Web/sites/ChallengeAssignment20210811071331</ResourceId>
    <ResourceGroup>ChallengeAssignment20210811071331ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://challengeassignment20210811071331.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>5fc77deb-06d4-4230-9411-e845904e7155</ProjectGuid>
    <PublishUrl>https://challengeassignment20210811071331.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ChallengeAssignment20210811071331</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>